<mat-card class="form-panel">
    <mat-card-title class="title">
        <span class="title-text">इमला कर</span>
        <!-- <a mat-stroked-button class="title-button" routerLink="/customer-vasuli">
            <mat-icon>arrow_back</mat-icon>
            Back
        </a> -->
    </mat-card-title>
    <mat-divider></mat-divider>
    <form class="form-grid">
        <div class="form-row">
            <mat-form-field appearance="outline">
                <mat-label class="text-bold">इमला कर</mat-label>
                <mat-select [(value)]="toYearSelected">
                    <mat-option value=" इमलाकर ">इमलाकर</mat-option>
                    <mat-option value=" इमलाकर- अनुक्रमणिका ">इमलाकर- अनुक्रमणिका</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label class="text-bold">Ward Number</mat-label>
                <mat-select [(value)]="toYearSelected">
                    <mat-option value="1">1</mat-option>
                    <mat-option value="2">2</mat-option>
                    <mat-option value="10">10</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label class="text-bold">वर्ष (Year)</mat-label>
                <mat-select [(value)]="fromYearSelected">
                    <mat-option value="2021">2021</mat-option>
                    <mat-option value="2022">2022</mat-option>
                    <mat-option value="2023">2023</mat-option>
                    <mat-option value="2024">2024</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label class="text-bold">ते (To)</mat-label>
                <mat-select [(value)]="toYearSelected" disabled>
                    <mat-option value="2025">2025</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-row">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">Year</mat-label>
                <input matInput type="number" min="0" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">To Year</mat-label>
                <input matInput type="number" min="0" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">Start Number</mat-label>
                <input matInput type="number" min="0" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">Ending Number</mat-label>
                <input matInput type="number" min="0" />
            </mat-form-field>
        </div>
        <div class="submit-row">
            <button mat-raised-button color="primary" class="submit-btn">Submit</button>
        </div>
    </form>
</mat-card>
<br><br>