<mat-card class="form-panel">
    <mat-card-title class="title">
        <span class="title-text">इमला कर</span>
        <!-- <a mat-stroked-button class="title-button" routerLink="/customer-vasuli">
            <mat-icon>arrow_back</mat-icon>
            Back
        </a> -->
    </mat-card-title>
    <mat-divider></mat-divider>
    <form class="form-grid" [formGroup]="imlakarForm">
        <div class="form-row">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">इमला कर</mat-label>
                <mat-select formControlName="imlakar">
                    <mat-option value="imlakar">इमलाकर</mat-option>
                    <mat-option value="imlakarannukramanika">इमलाकर- अनुक्रमणिका</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">Ward Number</mat-label>
                <mat-select formControlName="ward_no">
                    <mat-option *ngFor="let item of wardOptions" [value]="item.label">
                        {{ item.value }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">वर्ष (Year)</mat-label>
                <mat-select formControlName="year">
                    <mat-option *ngFor="let year of yearOptions" [value]="year.YEAR_ID">
                        {{ year.YEAR_NAME }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">ते (To)</mat-label>
                <!-- <mat-select formControlName="to">
                    <mat-option *ngFor="let year of yearOptions" [value]="year.YEAR_ID">
                        {{ year.YEAR_NAME }}
                    </mat-option>
                </mat-select> -->
                <input type="hidden" formControlName="to" readonly />
                <input matInput type="text" formControlName="to1" readonly />
            </mat-form-field>
        </div>
        <div class="form-row">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">Year</mat-label>
                <!-- <input matInput type="number" min="0" formControlName="from_year" /> -->
                <mat-select formControlName="from_year">
                    <mat-option *ngFor="let year of yearOptions" [value]="year.YEAR_NAME">
                        {{ year.YEAR_NAME }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">To Year</mat-label>
                <!-- <input matInput type="number" min="0" formControlName="to_year" /> -->
                <mat-select formControlName="to_year">
                    <mat-option *ngFor="let year of yearOptions" [value]="year.YEAR_NAME">
                        {{ year.YEAR_NAME }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">Start Number</mat-label>
                <input matInput type="number" min="0" formControlName="start" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">Ending Number</mat-label>
                <input matInput type="number" min="0" formControlName="end" />
            </mat-form-field>
        </div>
        <div class="submit-row">
            <button mat-raised-button color="primary" class="submit-btn" (click)="generate_report()">Generate Report</button>
        </div>
    </form>
</mat-card>
<br><br>