<button (click)="downloadPDF()" class="buttonPdf hidden-print btn btn-info" value="PDF">Download PDF </button>
<button (click)="downloadAndPreviewPDF()" class="buttonPdf hidden-print btn btn-primary" value="PDF">Print
</button>&nbsp;&nbsp;&nbsp;
<!-- <button (click)="printContent()" class="buttonPdf hidden-print" value="PDF">Print </button>&nbsp; -->
<div class="container-fluid" id="contentToExport">
  <div class="row">
    <p class="namna heading text-center">
      <b style="font-weight: bold; font-size: 30px !important"> आधार कार्ड व वोटर कार्ड यादी </b>
      <!--<button type="submit" class="buttonPdf" value="PDF">PDF </button>-->
    </p>
  </div>
  <div class="col-md-12 table-content">
    <div class="row">
      <span class="padding20">वार्ड नं :- 1 </span>
    </div>
    <div class="row">
      <div class="col-md-4">
        <span class="font15 left">ग्रामपंचायत :- न्यू डेमो </span>
      </div>
      <div class="col-md-4 center tahsil text-center">
        <span class="font15">तहसील :- नागपूर ग्रामीण </span>
      </div>
      <div class="col-md-4 float-right">
        <span class="font15 right "> जिल्हा :- नागपूर </span>
      </div>
    </div>
  </div>
  <br>
  <div class="table-responsive">
    <table class="table">
      <thead class="borderDouble">
        <tr>
          <th>अ.क्र</th>
          <th>मालमत्ता क्र. </th>
          <th>खातेधारकाचे नाव </th>
          <th class="bhagedar">भोगवटदाराचे नाव </th>
          <th>आधार कार्ड </th>
          <th>वोटर कार्ड </th>
          <th>पान नं. </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1 </td>
          <td>1</td>
          <td>गजानन रामभाऊ केदार </td>
          <td></td>
          <td>895456354212</td>
          <td></td>
          <td>1</td>
        </tr>
        <tr>
          <td>2 </td>
          <td>2</td>
          <td>मनोज रामभाऊ खोडे , वंदना मनोज खोडे </td>
          <td></td>
          <td>305648696546</td>
          <td></td>
          <td>2</td>
        </tr>
        <tr>
          <td>3 </td>
          <td>3</td>
          <td>राजाभाई जमालभाई शेख , नूरबेगम राजाभाई शेख </td>
          <td></td>
          <td>256489630213</td>
          <td></td>
          <td>3</td>
        </tr>
        <tr>
          <td>6 </td>
          <td>6</td>
          <td>राकेश मनोहर वाघमारे </td>
          <td></td>
          <td></td>
          <td></td>
          <td>4</td>
        </tr>
        <tr>
          <td>7 </td>
          <td>7</td>
          <td>पंकज भीमराव कस्तुरे </td>
          <td></td>
          <td>123456789987</td>
          <td>ghh2555d55</td>
          <td>5</td>
        </tr>
        <tr>
          <td>8 </td>
          <td>8</td>
          <td>शाळा जिल्हा परिषद </td>
          <td></td>
          <td>587469521554</td>
          <td>dddd1551d25</td>
          <td>6</td>
        </tr>
        <tr>
          <td>11 </td>
          <td>11</td>
          <td>अजय रामभाऊ कांबळे </td>
          <td></td>
          <td>023554666544</td>
          <td></td>
          <td>7</td>
        </tr>
        <tr>
          <td>12 </td>
          <td>12</td>
          <td>विनोद रामभाऊ काळे </td>
          <td></td>
          <td></td>
          <td></td>
          <td>8</td>
        </tr>
        <tr>
          <td>13 </td>
          <td>13</td>
          <td>पंकज बव्बेन्म </td>
          <td></td>
          <td></td>
          <td></td>
          <td>9</td>
        </tr>
        <tr>
          <td>14 </td>
          <td>14</td>
          <td>कमलेश राणे </td>
          <td></td>
          <td></td>
          <td></td>
          <td>10</td>
        </tr>
        <tr>
          <td>16 </td>
          <td>65156</td>
          <td>65</td>
          <td>1</td>
          <td>651</td>
          <td>651</td>
          <td>11</td>
        </tr>
        <tr>
          <td>17 </td>
          <td>6565</td>
          <td>6156</td>
          <td>65</td>
          <td>16</td>
          <td>165</td>
          <td>12</td>
        </tr>
        <tr>
          <td>18 </td>
          <td>161</td>
          <td>321</td>
          <td>32</td>
          <td>1</td>
          <td>132</td>
          <td>13</td>
        </tr>
        <tr>
          <td>19 </td>
          <td>651615</td>
          <td>165</td>
          <td>1</td>
          <td>165</td>
          <td>65165</td>
          <td>14</td>
        </tr>
        <tr>
          <td>22 </td>
          <td>231</td>
          <td>31</td>
          <td>32123</td>
          <td>1</td>
          <td>313</td>
          <td>15</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br><br>