<button (click)="downloadPDF()" class="buttonPdf hidden-print btn btn-info" value="PDF">PDF </button>
<button (click)="downloadAndPreviewPDF()" class=" hidden-print btn btn-primary" value="PDF">Print
</button>&nbsp;&nbsp;&nbsp;
<div class="container-fluid" id="contentToExport">
  <div class="col-md-12">
    <div class="row">


      <div class="row">
        <p class="heading">
          <b>फेरकर आकारणी मुल्यांकन यादी</b>
        </p>

        <p class="san">सन 2024-2025</p>

      </div>





      <div class="row">

        <div class="col-md-4">
          <span class="font15 left">जिल्हा :- नागपूर </span>
        </div>
        <div class="col-md-4 center tahsil">
          <span class="font15 ">तालुका :- नागपूर ग्रामीण </span>
        </div>
        <div class="col-md-4">
          <span class="font15 right">ग्रामपंचायत :- न्यू डेमो </span>
        </div>

      </div>


      <div class="table-responsive">
        <table class="table table-bordered ">

          <tbody>

            <tr>
              <td>अ.क्र</td>
              <td>1</td>
              <td>मालमत्ता क्र.</td>
              <td>1</td>
              <td>वार्ड क्र.</td>
              <td>1</td>
              <td>प्लॉट क्र.</td>
              <td></td>
              <td>खसरा न .</td>
              <td></td>
              <td>सर्वे क्र.</td>
              <td></td>
              <!--<td rowspan="5">चतुर : सीमा </td>-->
              <td>पाणी व्यवस्ता </td>
              <td>घरी नळ</td>
              <td>शौचालय </td>
              <td>होय</td>
              <td>मिलकत प्रकार</td>
              <td>अधिकृत</td>
            </tr>
            <tr>
              <td colspan="2"><b>घरमालकाचे नाव </b></td>
              <td colspan="7">गजानन रामभाऊ केदार </td>
              <td rowspan="4">चतुर : सीमा </td>
              <td colspan="2">पूर्वेस </td>
              <td colspan="10">राजेश बोढारे चे घर </td>
            </tr>
            <tr>
              <td colspan="2"><b>पत्नी / मुलांचे नाव</b> </td>
              <td colspan="7"></td>
              <td colspan="2">पश्चिमेस </td>
              <td colspan="10">कारण बावणे चे घर </td>
            </tr>
            <tr>
              <td colspan="2"><b>भोगवटदाराचे नाव</b> </td>
              <td colspan="7"></td>
              <td colspan="2">उत्तरेस </td>
              <td colspan="10">शाळा </td>
            </tr>
            <tr>
              <td colspan="2">पत्ता</td>
              <td colspan="7">न्यू डेमो (गावठाण)</td>
              <td colspan="2"> दक्षिणेस </td>
              <td colspan="10">रोड </td>
            </tr>
            <tr>
              <td rowspan="2" colspan="2">एकूण जागेचे क्षेत्रफळ </td>
              <td>लांबी (चौ. फु .)</td>
              <td>रुंदी (चौ. फु .)</td>
              <td colspan="2">क्षेत्रफळ (चौ. फु .)</td>
              <td colspan="2">क्षेत्रफळ (चौ. मीटर)</td>
              <td colspan="2">उर्वरितखाली जागा (चौ. फु .);</td>
              <td colspan="2">उर्वरितखाली जागा (चौ. मीटर )</td>
              <td colspan="2">मोबाईल </td>
              <td colspan="3">आधार कार्ड </td>
              <td colspan="3">वोटर कार्ड </td>

            </tr>
            <tr>
              <td>50</td>
              <td>40</td>
              <td colspan="2">2000</td>
              <td colspan="2">185.8</td>
              <td colspan="2">225</td>
              <td colspan="2">20.9</td>
              <td colspan="2">9863501235</td>
              <td colspan="3">895456354212</td>
              <td colspan="4"></td>
            </tr>
            <tr style="font-weight:bold;">
              <td colspan="2">मालमत्तेचे वर्णन </td>
              <td>मालमत्तेचा प्रकार </td>
              <td>वापराचा प्रकार </td>
              <td>बांधकामाचा मजला </td>
              <td>वय / वर्ष </td>
              <td>क्षेत्रफळ पु. प . (चौ . फूट )</td>
              <td>क्षेत्रफळ उ. द . (चौ . फूट )</td>
              <td>एकूण क्षेत्रफळ (चौ . फूट )</td>
              <td>एकूण क्षेत्रफळ (चौ . मीटर )</td>
              <td>वार्षिक मूल्य </td>
              <td>घसारा </td>
              <td>भारांक </td>
              <td>भांडवली मूल्य </td>
              <td>आकारणी दर </td>
              <td>प्रति रु .१००० च्या भांडवली मूल्यावर </td>
              <td colspan="4">कर आकारणी </td>
            </tr>

            <tr>
              <td colspan="2">खुला भूखंड </td>
              <td>खुला भूखंड </td>
              <!--<td colspan="2">एकूण जागा </td>-->
              <td rowspan="1">एकूण जागा </td>
              <td>&nbsp; </td>
              <td>&nbsp;</td>
              <td>0</td>
              <td>0</td>
              <td>225</td>
              <td>20.9</td>
              <td>5520</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>115368</td>
              <td>1.5</td>
              <td>1000</td>
              <td colspan="5">173.05</td>
            </tr>

            <tr>
              <td colspan="2">निवासी </td>
              <td>अर्धे पक्के </td>
              <td>घर </td>
              <td>तळ मजला </td>
              <td>15</td>
              <td>25</td>
              <td>25</td>
              <td>625</td>
              <td>58.06</td>
              <td>11616</td>
              <td>0.75</td>
              <td>1</td>
              <td>505818.72</td>
              <td>0.6</td>
              <td>1000</td>
              <td colspan="5">303.49</td>
            </tr>

            <tr>
              <td colspan="2">निवासी </td>
              <td>आर सी सी </td>
              <td>घर </td>
              <td>तळ मजला </td>
              <td>10</td>
              <td>15</td>
              <td>30</td>
              <td>450</td>
              <td>41.81</td>
              <td>19360</td>
              <td>0.9</td>
              <td>1</td>
              <td>728497.44</td>
              <td>1.2</td>
              <td>1000</td>
              <td colspan="5">874.2</td>
            </tr>

            <tr>
              <td colspan="2">निवासी </td>
              <td>इतर पक्के </td>
              <td>घर </td>
              <td>तळ मजला </td>
              <td>10</td>
              <td>15</td>
              <td>20</td>
              <td>300</td>
              <td>27.87</td>
              <td>16456</td>
              <td>0.9</td>
              <td>1</td>
              <td>412765.85</td>
              <td>0.75</td>
              <td>1000</td>
              <td colspan="5">309.57</td>
            </tr>

            <tr>
              <td colspan="2">निवासी </td>
              <td>कच्चे</td>
              <td>घर </td>
              <td>तळ मजला </td>
              <td>20</td>
              <td>20</td>
              <td>20</td>
              <td>400</td>
              <td>37.16</td>
              <td>6776</td>
              <td>0.75</td>
              <td>1</td>
              <td>188847.12</td>
              <td>0.3</td>
              <td>1000</td>
              <td colspan="5">56.65</td>
            </tr>

            <tr>
              <td colspan="2">निवासी </td>
              <td>आर सी सी </td>
              <td>घर </td>
              <td>तळ मजला </td>
              <td>5</td>
              <td>15</td>
              <td>10</td>
              <td>150</td>
              <td>13.94</td>
              <td>19360</td>
              <td>0.95</td>
              <td>1</td>
              <td>256384.48</td>
              <td>1.2</td>
              <td>1000</td>
              <td colspan="5">307.66</td>
            </tr>

            <tr>



            <tr>
              <td colspan="8">कराची रक्क्म</td>
              <td colspan="6">अपिलाचे निकाल आणि त्यानंतर केलेले फेरफार (रुपये )</td>
              <td colspan="2">गृह व भूमीकर </td>
              <td colspan="4">1716.96</td>
            </tr>
            <tr>
              <td colspan="2">वीज </td>
              <td>आरोग्य </td>
              <td>सफाई </td>
              <td>सा. पाणी </td>
              <td>वि . पाणी </td>
              <td>एकूण </td>
              <td>गृह व भूमीकर </td>
              <td>एकूण कर </td>
              <td colspan="2">गृह व भूमीकर </td>
              <td>वीज कर </td>
              <td>आरोग्य</td>
              <td>सफाई कर </td>
              <td>सा. पाणी </td>
              <td>वि . पाणी </td>
              <td>एकूण </td>
              <td colspan="4">एकूण कर </td>
            </tr>
            <tr>
              <td colspan="2">100</td>
              <td>100</td>
              <td>0</td>
              <td>0</td>
              <td>750</td>
              <td>950</td>
              <td>1716.96</td>
              <td>2666.96</td>
              <td colspan="2">&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td colspan="4">&nbsp;</td>
            </tr>
            <tr>
              <td colspan="2">फेरफार / शेरा </td>
              <td colspan="18"> </td>
            </tr>

          </tbody>
        </table>


      </div>

      <span class="font15 right">पान नंबर : 1 </span>



    </div>




  </div>