<form [formGroup]="BuildingkarModal">
    <h2 mat-dialog-title class="text-center text-bold bg-color">बिल्डिंग कर आकारणी</h2>
    <mat-dialog-content class="mat-typography">
        <div class="form-row mt-4">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">मालमत्तेचे प्रकार</mat-label>
                <mat-select formControlName="milkat_vapar_id" (selectionChange)="getBharankValue($event.value)">
                    <mat-option *ngFor="let item of building_malmattechePrakar" [value]="item.MILKAT_VAPAR_ID">
                        {{ item.MILKAT_VAPAR_NAME }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">मालमत्तेचे वर्णन</mat-label>
                <mat-select formControlName="malmatta_id" (selectionChange)="getBuildinAndAakaraniDar($event.value)">
                    <mat-option *ngFor="let item of building_malmattecheVarnan" [value]="item.MALMATTA_ID">
                        {{ item.DESCRIPTION_NAME }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">वापर प्रकार</mat-label>
                <input matInput type="text" formControlName="vaparache_prakar" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">बांधकामाचा मजला</mat-label>
                <mat-select formControlName="manoramaster_id">
                    <mat-option *ngFor="let item of building_bandkamachaMajla" [value]="item.FLOOR_ID">
                        {{ item.FLOOR_NAME }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-row">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">क्षेत्रफळ पु.प.(चौ.फुट)</mat-label>
                <input matInput type="text" formControlName="areap" (keyup)="foot_to_meter_conversion()" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">क्षेत्रफळ उ.द.(चौ.फुट)</mat-label>
                <input matInput type="text" formControlName="areai" (keyup)="foot_to_meter_conversion()" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">एकूण क्षेत्रफळ (चौ.फुट)</mat-label>
                <input matInput type="text" formControlName="totalarea"
                    (keyup)="foot_to_meter_conversion_ekun_foot()" />
            </mat-form-field>

        </div>
        <div class="form-row">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">क्षेत्रफळ पु.प.(चौ.मिटर)</mat-label>
                <input matInput type="text" formControlName="areap1" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">क्षेत्रफळ उ.द.(चौ.मिटर)</mat-label>
                <input matInput type="text" formControlName="areai1" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">एकूण क्षेत्रफळ (चौ.मिटर)</mat-label>
                <input matInput type="text" formControlName="totalarea1" />
            </mat-form-field>

            <!-- </div>
        <div class="form-row"> -->
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">वयोमान</mat-label>
                <input matInput type="text" formControlName="lifespan" (keyup)="vayoman($event)" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">इमारतीचे बांधकाम वर्ष</mat-label>
                <input matInput type="text" formControlName="constructing" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">घसारा दर</mat-label>
                <input matInput type="text" formControlName="depreciation" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">भारांक</mat-label>
                <input matInput type="text" formControlName="weighted" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">इमारतीचे वार्षिक मुल्य</mat-label>
                <input matInput type="text" formControlName="annual_cost" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">आकारणी दर</mat-label>
                <input matInput type="text" formControlName="levyrate" />
            </mat-form-field>
        </div>
        <div class="form-row">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">इमारतीचे भांडवली मुल्य = इमारतीचे क्षेत्रफळ
                    (चौ. मीटर) X इमारतीचे वार्षिक मुल्य X घसारा दर X भारांक इमारतीचे
                    भांडवली
                    मुल्य = Label</mat-label>
                <input matInput type="text" formControlName="one" />
            </mat-form-field>
        </div>
        <div class="form-row">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">कर आकारणी = भांडवली मुल्य X आकारणी दर /१०००
                    कर आकारणी = Label</mat-label>
                <input matInput type="text" formControlName="two" />
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="center">

        <button mat-button mat-dialog-close class="custom-red">रद्द करा</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>जतन करा</button>
    </mat-dialog-actions>
</form>