
<app-loader></app-loader>
<div *ngIf="isLoginPage; else mainLayout">
    <app-login></app-login>
</div>
<ng-template #mainLayout>
    <mat-sidenav-container class="sidenav-container">

        <mat-sidenav #drawer mode="side" opened class="sidenav">
            <app-sidebar></app-sidebar>
        </mat-sidenav>
        <mat-sidenav-content>
            <app-header (toggleSidenav)="drawer.toggle()"></app-header>
            <div class="content">
                <router-outlet></router-outlet>

            </div>
            <app-footer></app-footer>
        </mat-sidenav-content>

    </mat-sidenav-container>
</ng-template>