<mat-card class="form-panel">
    <mat-card-title class="title">
        <span class="title-text">मागणीचे बिल</span>
        <!-- <a mat-stroked-button class="title-button" routerLink="/customer-vasuli">
            <mat-icon>arrow_back</mat-icon>
            Back
        </a> -->
    </mat-card-title>
    <mat-divider></mat-divider>
    <form class="form-grid" [formGroup]="magnicheBillForm">
        <div class="form-row">
            <mat-form-field appearance="outline">
                <mat-label class="text-bold">वर्ष (Year)</mat-label>
                <mat-select formControlName="year">
                    <mat-option *ngFor="let year of yearOptions" [value]="year.YEAR_ID">
                        {{ year.YEAR_NAME }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label class="text-bold">ते (To)</mat-label>
                <mat-select formControlName="to">
                    <mat-option *ngFor="let year of yearOptions" [value]="year.YEAR_ID">
                        {{ year.YEAR_NAME }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-row">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">अनु. क्रमांक</mat-label>
                <input matInput type="text" formControlName="start_anukramnak" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">अनु. क्रमांक ते (To)</mat-label>
                <input matInput type="text" formControlName="end_anukramnak" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">वॉर्ड क्र.</mat-label>
                <input matInput type="text" formControlName="ward_no" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">देयक दिनांक.</mat-label>
                <input matInput [matDatepicker]="picker" appDateFormat placeholder="dd/MM/yyyy"
                    formControlName="start_date" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">अंतिम तारीख.</mat-label>
                <input matInput [matDatepicker]="picker1" appDateFormat placeholder="dd/MM/yyyy"
                    formControlName="end_date" />
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">Bharna</mat-label>
                <input matInput type="text" formControlName="bharna" />
            </mat-form-field>
        </div>
        <!-- <div class="submit-row">
            <button mat-raised-button color="primary" class="submit-btn" (click)="fetchData()">Submit</button>
        </div> -->
    </form>



    <div class="row mt-5" *ngIf="listingData.length > 0">
        <mat-form-field appearance="outline" class="w-50 mb-3">
            <mat-label>Search...</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Type to search..." />
        </mat-form-field>
        <mat-card class="example-card">
            <table mat-table [dataSource]="listingData">

                <!-- anu_kramank Column -->
                <ng-container matColumnDef="ANNU_KRAMANK">
                    <th mat-header-cell *matHeaderCellDef><b> अनु.क्रमांक</b> </th>
                    <td mat-cell *matCellDef="let element"> {{element.ANNU_KRAMANK}} </td>
                </ng-container>

                <!-- ward_kramank Column -->
                <ng-container matColumnDef="VARD_NUMBER">
                    <th mat-header-cell *matHeaderCellDef> <b>वार्ड क्रं.</b> </th>
                    <td mat-cell *matCellDef="let element"> {{element.VARD_NUMBER}} </td>
                </ng-container>

                <!-- acc_holder_name Column -->
                <ng-container matColumnDef="N_HOMEUSER_NAME">
                    <th mat-header-cell *matHeaderCellDef><b> खातेधारकाचे नाव </b></th>
                    <td mat-cell *matCellDef="let element"> {{element.N_HOMEUSER_NAME}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="ward_129_1">
                    <th mat-header-cell *matHeaderCellDef><b> १२९(१)</b> </th>
                    <td mat-cell *matCellDef="let element">
                        <section class="example-section">
                            <button mat-flat-button color="primary"
                                (click)="generate_report_129_1(element.NEWUSER_ID)">{{element.ward_129_1}}</button>
                        </section>
                    </td>
                </ng-container>

                <ng-container matColumnDef="ward_129_2">
                    <th mat-header-cell *matHeaderCellDef><b> १२९(२) </b></th>
                    <td mat-cell *matCellDef="let element">
                        <section class="example-section">
                            <button mat-flat-button color="primary"
                                (click)="generate_report_129_2(element.NEWUSER_ID)">{{element.ward_129_2}}</button>
                        </section>
                    </td>
                </ng-container>

                <!-- Header and Row Declarations -->
                <tr mat-header-row
                    *matHeaderRowDef="['ANNU_KRAMANK', 'VARD_NUMBER', 'N_HOMEUSER_NAME', 'ward_129_1','ward_129_2']">
                </tr>
                <tr mat-row
                    *matRowDef="let row; columns: ['ANNU_KRAMANK', 'VARD_NUMBER', 'N_HOMEUSER_NAME', 'ward_129_1','ward_129_2'];">
                </tr>
            </table>
        </mat-card>

    </div>
</mat-card>
<br><br><br>