<mat-card class="form-panel">
    <mat-card-title class="title">इमला कर</mat-card-title>
    <mat-divider></mat-divider>

    <form class="form-grid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label class="text-bold">वार्ड नं. (Ward No)</mat-label>
                    <mat-select>
                        <mat-option value="1">1</mat-option>
                        <mat-option value="2">2</mat-option>
                        <mat-option value="10">10</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <section class="example-section">
                    <p><mat-checkbox>इमलाकर- अनुक्रमणिका</mat-checkbox></p>
                    <p><mat-checkbox>इमलाकर- अनुक्रमणिका</mat-checkbox></p>
                </section>
            </div>
        </div>
    </form>
</mat-card>