<div class="hidden-print" style="margin-bottom: 10px;">
    <button (click)="printDirect()" class="btn btn-success" value="Print" style="font-weight: bold;"
        title="Best quality - Use browser's Print to PDF option">
        🖨️ Print / Save as PDF (Perfect Quality)
    </button>&nbsp;
    <button (click)="downloadPDFDirect()" class="btn btn-info" value="Download PDF"
        style="font-weight: bold;">
        📥 Download PDF
    </button>&nbsp;
    <button *ngIf="isMobileDevice" (click)="downloadPDFMobile()" class="btn btn-primary"
        style="font-weight: bold; margin-left: 10px;">
        📥 PDF तयार करा
    </button>
    <!-- <button (click)="downloadAndPreviewPDF()" class="btn btn-primary" value="PDF">
        PDF Preview
    </button>
    <button (click)="downloadPDF()" class="buttonPdf btn btn-info" value="PDF"
        title="Quick download - May have formatting issues">
        Quick Download
    </button> -->
</div>
<div class="hidden-print alert alert-warning" style="margin-bottom: 10px; padding: 8px; font-size: 12px;">
    <strong>📌 सर्वोत्तम गुणवत्तेसाठी:</strong> हिरवे "Print / Save as PDF" बटण वापरा. प्रिंट डायलॉगमध्ये "Destination"
    मध्ये "Save as PDF" निवडा व "Headers and footers" अनचेक करा.
</div>
<div class="container-fluid" id="contentToExport">
    <div *ngFor="let item of reportData?.rs14" class="page-break">
        <div class="col-md-12">
            <div class="row">
                <p class="namna heading">
                    <b> नमुना ८ </b>
                </p>
                <!-- </div>
            <div class="row"> -->
                <span class="font15">ग्रामपंचायत कार्यालय : - {{
                    reportData?.entriesDetailsRs66[0]?.GATGRAMPANCHAYAT_NAME}} </span>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr class="font15">
                        <td rowspan="2">अनु क्रं.</td>
                        <td rowspan="2">रस्त्याचे नाव </td>
                        <td rowspan="2">सिटी सर्वे नं.</td>
                        <td rowspan="2">मालमत्ता क्र</td>
                        <td rowspan="2" colspan="3">घर मालकाचे नाव</td>
                        <td rowspan="2" colspan="2">भोगवटदाराचे नाव</td>
                        <td rowspan="2">मालमत्तेचे वर्णन </td>
                        <td rowspan="2">बांधकामाचे वय / वर्ष </td>
                        <td rowspan="2">क्षेत्रफळ ( चौ . फु .)</td>
                        <td colspan="3">रेडीरेकनर दरानुसार प्रति चौरस मीटर रुपये </td>
                    </tr>
                    <tr class="font15">
                        <td>जमीन </td>
                        <td>इमारत </td>
                        <td>बांधकाम</td>
                    </tr>
                    <tr>
                        <td [attr.rowspan]=" item?.getConstructionForsarkari8Rs7.length + item?.taxandMilkatDetailsRs10.length
                            ">{{
                            item?.newUserDataDBRs3[0]?.ANNU_KRAMANK}}</td>
                        <td [attr.rowspan]=" item?.getConstructionForsarkari8Rs7.length + item?.taxandMilkatDetailsRs10.length
                            "></td>
                        <td [attr.rowspan]="item?.getConstructionForsarkari8Rs7.length + item?.taxandMilkatDetailsRs10.length
                            ">{{
                            item?.newUserDataDBRs3[0]?.SURVEY_KRAMANK}}</td>
                        <td [attr.rowspan]=" item?.getConstructionForsarkari8Rs7.length + item?.taxandMilkatDetailsRs10.length
                        ">{{
                            item?.newUserDataDBRs3[0]?.MALMATTA_NUMBER}}</td>
                        <td colspan="3" [attr.rowspan]="item?.getConstructionForsarkari8Rs7.length + item?.taxandMilkatDetailsRs10.length
                            ">{{
                            item?.newUserDataDBRs3[0]?.HOMEUSER_NAME}} </td>
                        <td colspan="2" [attr.rowspan]=" item?.getConstructionForsarkari8Rs7.length + item?.taxandMilkatDetailsRs10.length
                            ">{{
                            item?.newUserDataDBRs3[0]?.BHOGATWARGARACHE_NAME}}
                        </td>
                        <td>{{ item?.taxandMilkatDetailsRs10[0]?.MILKAT_VAPAR_NAME }} </td>
                        <td></td>
                        <td>{{ item?.taxationLandDetailsDbRs4[0]?.TOTALAREA}}<br><br>
                            {{ item?.taxationLandDetailsDbRs4[0]?.TOTALAREA1}}
                        </td>
                        <td>{{ item?.taxationLandDetailsDbRs4[0]?.ANNUALVALUE}}</td>
                        <td></td>
                        <td></td>
                    <tr *ngFor="let item7 of item?.getConstructionForsarkari8Rs7">
                        <td>{{ item7?.DESCRIPTION_NAME }} </td>
                        <td>{{ item7?.LIFESPAN }}<br>
                            {{ item7?.CONSTRUCTING }}
                        </td>
                        <td>{{ item7?.TOTALAREA }}<br>
                            {{ item7?.TOTALAREA1 }}
                        </td>
                        <td></td>
                        <td>{{ item7?.ANNUALCOST }}</td>
                        <td>{{ item7?.FLOOR_NAME }} </td>
                    </tr>
                    <tr *ngFor="let item6 of item?.taxPayerDetailsRs6">
                        <td>
                            {{ item6?.DESCRIPTION_NAME }}
                        </td>
                        <td> </td>
                        <td>
                            {{ item6?.TOTALAREA }}<br>
                            {{ item6?.TOTALAREA1 }}
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            {{ item.MANORAMASTER_NAME }}
                        </td>
                    </tr>
                    <tr class="font15">
                        <td rowspan="2">घसारा </td>
                        <td rowspan="2">भारांक</td>
                        <td rowspan="2">भांडवली मूल्य </td>
                        <td>कराचा दार </td>
                        <td colspan="5">कराची रक्कम</td>
                        <td colspan="5">अपिलाचे निकाल आणि त्यानंतर केलेले फेरफार ( रुपये )</td>
                        <td rowspan="2">नंनंतर वळ किंवा घाट बदलचा शेर </td>
                    </tr>
                    <tr class="font15">
                        <td>रुपये </td>
                        <td>गृह व भूमीकर </td>
                        <td>वीज कर </td>
                        <td>आरक्षण </td>
                        <td>पाणीपट्टी कर</td>
                        <td> एकूण</td>
                        <td>गृह व भूमीकर</td>
                        <td>वीज कर </td>
                        <td>आरक्षण </td>
                        <td>पाणीपट्टी कर</td>
                        <td> एकूण</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>{{ item?.taxationLandDetailsDbRs4[0]?.capital}}</td>
                        <td>{{ item?.taxationLandDetailsDbRs4[0]?.LEVYRATE}}
                            <br>
                            <br>
                        </td>
                        <td>{{ item?.taxationLandDetailsDbRs4[0]?.taxation}}</td>
                        <td [attr.rowspan]=" item?.getConstructionForsarkari8Rs7.length + item?.taxandMilkatDetailsRs10.length || 3
                            ">{{
                            item?.newUserDataDBRs3[0]?.VIZ_DIVVABATTIKAR}}</td>
                        <td [attr.rowspan]=" item?.getConstructionForsarkari8Rs7.length + item?.taxandMilkatDetailsRs10.length || 3
                            ">{{
                            item?.newUserDataDBRs3[0]?.AAROGYA_RAKSHAN_KAR}}</td>
                        <td [attr.rowspan]=" item?.getConstructionForsarkari8Rs7.length + item?.taxandMilkatDetailsRs10.length || 3
                            ">{{
                            item?.newUserDataDBRs3[0]?.SAMANYA_PANI_KAR}}
                            <br>
                            <br>
                            {{ item?.newUserDataDBRs3[0]?.VISHESH_PANI_KAR}}
                        </td>
                        <td [attr.rowspan]="item?.getConstructionForsarkari8Rs7.length + item?.taxandMilkatDetailsRs10.length || 3
                            ">{{
                            item?.newUserDataDBRs3[0]?.EEKUN_KAR_BHARNA}}</td>
                        <td [attr.rowspan]="item?.getConstructionForsarkari8Rs7.length + item?.taxandMilkatDetailsRs10.length || 3
                            ">&nbsp;</td>
                        <td [attr.rowspan]="item?.getConstructionForsarkari8Rs7.length + item?.taxandMilkatDetailsRs10.length || 3
                            ">&nbsp;</td>
                        <td [attr.rowspan]="item?.getConstructionForsarkari8Rs7.length + item?.taxandMilkatDetailsRs10.length || 3
                            ">&nbsp;</td>
                        <td [attr.rowspan]=" item?.getConstructionForsarkari8Rs7.length + item?.taxandMilkatDetailsRs10.length || 3
                            ">&nbsp;</td>
                        <td [attr.rowspan]=" item?.getConstructionForsarkari8Rs7.length + item?.taxandMilkatDetailsRs10.length || 3
                            ">&nbsp;</td>
                        <td [attr.rowspan]=" item?.getConstructionForsarkari8Rs7.length + item?.taxandMilkatDetailsRs10.length || 3
                            ">&nbsp;</td>
                    </tr>
                    <tr *ngFor="let item77 of item?.getConstructionForsarkari8Rs7">
                        <td>{{ item77?.DEPRECIATION }}</td>
                        <td>{{ item77?.WEIGHTTAGE }}</td>
                        <td>{{ item77?.ONE }}</td>
                        <td>{{ item77?.LEVYRATE }}</td>
                        <td>{{ item77?.TWO }} </td>
                    </tr>

                    <tr *ngFor="let item66 of item?.taxPayerDetailsRs6">
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>{{ item66?.capital }}</td>
                        <td>{{ item66?.taxation }} </td>
                    </tr>
                    <!-- <tr>
                        <td>0.8</td>
                        <td>1</td>
                        <td>431650.56</td>
                        <td>1.2
                        </td>
                        <td> 517.98 </td>
                    </tr>
                    <tr>
                        <td>0.75</td>
                        <td>1</td>
                        <td>161868.96</td>
                        <td>0.6
                        </td>
                        <td> 97.12 </td>
                    </tr>
                    <tr>
                        <td>0.75</td>
                        <td>1</td>
                        <td>118054.86</td>
                        <td>0.3
                        </td>
                        <td> 35.42 </td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</div>
<div style="margin-bottom: 5%;"></div>