.pagination-container {
  display: flex;
  align-items: center;
}

button {
  margin: 0 5px;
}

button.active {
  font-weight: bold;
  text-decoration: underline;
}

span {
  margin: 0 10px;
}

::ng-deep .mat-mdc-paginator-page-size {
  display: none;
}
