<mat-card class="form-panel">
    <mat-card-title class="title">पाणी व्यवस्था यादी</mat-card-title>
    <mat-divider></mat-divider>

    <form class="form-grid">
        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label class="text-bold">वार्ड नं. (Ward No)</mat-label>
                    <mat-select>
                        <mat-option value="1">1</mat-option>
                        <mat-option value="2">2</mat-option>
                        <mat-option value="10">10</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <button mat-raised-button color="primary" class="submit-btn">पाणी व्यवस्था लिस्ट</button>
            </div>
        </div>
    </form>
</mat-card>