<form [formGroup]="nodaniForm">
    <mat-card class="form-panel">
        <h3 class="text-center"><strong>मालमत्ताधारकाचा तपशील (Owner Details)</strong></h3>
        <hr />
        <div class="form-row mt-3">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">अनु. क्रमांक</mat-label>
                <input matInput type="text" formControlName="annu_kramank" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">मालमत्ता क्र.</mat-label>
                <input matInput type="text" formControlName="malmatta_kramank" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">वॉर्ड क्र.</mat-label>
                <input matInput type="text" formControlName="ward_kramank" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">प्लॉट क्र.</mat-label>
                <input matInput type="text" formControlName="plot_kramank" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">खसरा क्र.</mat-label>
                <input matInput type="text" formControlName="khasara_kramank" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">सर्वे क्र.</mat-label>
                <input matInput type="text" formControlName="survey_kramank" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">वोटर कार्ड नं.</mat-label>
                <input matInput type="text" formControlName="voter_card_number" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">आधार कार्ड नं.</mat-label>
                <input matInput type="text" formControlName="aadhar_card_number" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">मोबाईल नं.</mat-label>
                <input matInput type="text" formControlName="mobile_number" />
            </mat-form-field>
        </div>
        <div class="form-row">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">घर मालकाचे नाव</mat-label>
                <input matInput type="text" formControlName="ghar_malkache_nav" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">पत्नी/मुलाचे नाव श्री/श्रीमती</mat-label>
                <input matInput type="text" formControlName="patni_mulache_nav" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">भोगवटदाराचे नाव</mat-label>
                <input matInput type="text" formControlName="bhogvat_dharkache_nav" />
            </mat-form-field>
        </div>
        <div class="form-row">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">पत्ता:नगर/ले-आउट/सोसायटी :</mat-label>
                <input matInput type="text" formControlName="patta_nagar_layout" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">कायमचा पत्ता</mat-label>
                <input matInput type="text" formControlName="kaymacha_patta" />
            </mat-form-field>
        </div>
        <div class="form-row">
            <h6>चतुसिमा</h6>
        </div>
        <div class="form-row">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">पूर्वेस</mat-label>
                <input matInput type="text" formControlName="purves" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">पश्चिमेस</mat-label>
                <input matInput type="text" formControlName="paschimes" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">उत्तरेस</mat-label>
                <input matInput type="text" formControlName="uttares" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">दक्षिणेस</mat-label>
                <input matInput type="text" formControlName="dakshines" />
            </mat-form-field>
        </div>
        <div class="form-row">
            <h6>पिण्याच्या पाण्याची व्यवस्था:</h6>
        </div>
        <div class="form-row">
            <mat-radio-group aria-label="Select an option" color="primary"
                formControlName="pinachya_panichi_vyavstha_radio">
                <mat-radio-button value="1">हातपंप</mat-radio-button>
                <mat-radio-button value="2">विहिर</mat-radio-button>
                <mat-radio-button value="3">सार्वजनिक नळ</mat-radio-button>
                <mat-radio-button value="4">घरी नळ</mat-radio-button>
                <mat-radio-button value="no">नाही</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="form-row">
            <h6 class="mt-3">घरी शौचालयं आहे काय :</h6>
        </div>
        <div class="form-row">
            <mat-radio-group aria-label="Select an option" color="primary" formControlName="ghari_toilet_radio">
                <mat-radio-button value="yes">होय</mat-radio-button>
                <mat-radio-button value="no">नाही</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="form-row">
            <h6 class="mt-3">वाणिज्य प्रकार :</h6>
        </div>
        <div class="form-row">
            <mat-radio-group aria-label="Select an option" color="primary" formControlName="vanijya_prakar_radio">
                <mat-radio-button value="औद्योगिक">औद्योगिक</mat-radio-button>
                <mat-radio-button value="मनोरा">मनोरा</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="form-row">
            <h6 class="mt-3">मिलकत प्रकार :</h6>
        </div>
        <div class="form-row">
            <mat-radio-group aria-label="Select an option" color="primary" formControlName="miltkat_prakar_radio">
                <mat-radio-button value="अधिकृत">अधिकृत</mat-radio-button>
                <mat-radio-button value="इमलाकर">इमलाकर</mat-radio-button>
                <mat-radio-button value="घरकुल">घरकुल</mat-radio-button>
                <mat-radio-button value="घर कर लावायचा आहे">घर कर लावायचा आहे</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="form-row">
            <h6 class="mt-3">इमारत किंवा मोकळी जागा दळणवळण किंवा इतर प्रयोजनासाठी वापरली जाते काय :</h6>
        </div>
        <div class="form-row">
            <mat-radio-group aria-label="Select an option" color="primary" formControlName="emarat_mokadi_jaga_radio">
                <mat-radio-button value="yes">होय</mat-radio-button>
                <mat-radio-button value="no">नाही</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="form-row">
            <h6 class="mt-3">इमारत /जमीन केवळ धार्मिक /शैक्षणिक प्रयोजनासाठी वापरली जाते काय (१९६१ चा. अधिनियम
                क्र .
                ४३
                अन्वये सूट
                देण्यात आली आहे )
                :</h6>
        </div>
        <div class="form-row">
            <mat-radio-group aria-label="Select an option" color="primary" color="primary"
                formControlName="emarat_jamin_dharmik_radio">
                <mat-radio-button value="yes">होय</mat-radio-button>
                <mat-radio-button value="no">नाही</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="form-row">
            <h6 class="mt-3">भोगवटधारक (मालक) संरक्षण दलातील शौर्य पदक किंवा सेवा पदक धारकांच्या विधवा किंवा
                अवलंबीनाच्या वापरातील
                निवासी इमारत (फक्त
                एक ) आहे काय (होय असल्यास जिल्हा सैनिक कल्याण अधिकाऱ्याचे प्रमाण पत्र जोडावे )</h6>
        </div>
        <div class="form-row">
            <mat-radio-group aria-label="Select an option" color="primary" formControlName="bhogvat_dharak_malak_radio">
                <mat-radio-button value="yes">होय</mat-radio-button>
                <mat-radio-button value="no">नाही</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="form-row">
            <h6 class="mt-3">एकूण जागेची क्षेत्रफळ</h6>
        </div>
        <div class="form-row">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">लांबी</mat-label>
                <input matInput type="text" formControlName="lambi" (keyup)="calculationLambiRundi($event)"/>
            </mat-form-field>
            <span class="star_equal">*</span>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">रूंदी</mat-label>
                <input matInput type="text" formControlName="rundi" (keyup)="calculationLambiRundi($event)"/>
            </mat-form-field>
            <span class="star_equal">=</span>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">क्षेत्रफळ (चौरस फूट)</mat-label>
                <input matInput type="text" formControlName="shetrafadh_foot" (keyup)="calculationLambiSquareMeter($event)"/>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">क्षेत्रफळ (चौरस मीटर)</mat-label>
                <input matInput type="text" formControlName="shetrafadh_meter" />
            </mat-form-field>
        </div>
        <hr />
        <div class="row">
            <div class="d-flex">
                <button type="button" class="btn btn-success col-md-2" value="khula_bhukhand"
                    (click)="khula_bhukand_modal($event)">खुला
                    भूखंड कर आकारणी</button>&nbsp;
                <button type="button" class="btn btn-success col-md-2"
                    (click)="building_kar_aakarani($event)">बांधकामाची कर
                    आकारणी</button>&nbsp;
                <button type="button" class="btn btn-success col-md-2" (click)="manora_kar_aakarani($event)">मनोऱ्याचे
                    कर
                    आकारणी</button>
            </div>
            <h5 class="text-center mt-5"><strong>कर आकारणी तपशील (Taxation Details):</strong></h5>
        </div>
        <hr />
        <div class="form-row">
            <h6 class="mt-3 col-md-6"><strong>खुला भूखंड कर आकारणी:</strong></h6>
        </div>
        <hr>
        <div class="row">
            <mat-card class="example-card">
                <table mat-table [dataSource]="[
                { malmatteche_prakar: 'kundan', malmatteche_varnan: 'kundan', vapar_prakar: 'kundan', gavache_nav: 'kundan', gavthan_baherche: 'kundan',shetrafal_east_west:'1020', shetrafal_north_south:'1202', total_shetrafal_cho_foot:'2000', total_shetrafal_cho_meter:'6500',jaminiche_varshik_mulya:'1200', aakarani_dar:'25%', jaminiche_bhadvali_mulya:'30', kar_aakarni:'350', action:''}
                ]">

                    <ng-container matColumnDef="malmatteche_prakar">
                        <th mat-header-cell *matHeaderCellDef><b> मालमत्तेचे प्रकार</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element.malmatteche_prakar}} </td>
                    </ng-container>

                    <ng-container matColumnDef="malmatteche_varnan">
                        <th mat-header-cell *matHeaderCellDef> <b>मालमत्तेचे वर्णन</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element.malmatteche_varnan}} </td>
                    </ng-container>

                    <ng-container matColumnDef="vapar_prakar">
                        <th mat-header-cell *matHeaderCellDef><b>वापर प्रकार </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.vapar_prakar}} </td>
                    </ng-container>

                    <ng-container matColumnDef="gavache_nav">
                        <th mat-header-cell *matHeaderCellDef><b> गावाचे नाव</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element.gavache_nav}} </td>
                    </ng-container>

                    <ng-container matColumnDef="gavthan_baherche">
                        <th mat-header-cell *matHeaderCellDef><b> गावठाण/गावठाण बाहेरचे </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.gavthan_baherche}} </td>
                    </ng-container>

                    <ng-container matColumnDef="shetrafal_east_west">
                        <th mat-header-cell *matHeaderCellDef><b> क्षेत्रफळ पु.प.(चौ.फुट) </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.shetrafal_east_west}} </td>
                    </ng-container>

                    <ng-container matColumnDef="shetrafal_north_south">
                        <th mat-header-cell *matHeaderCellDef><b> क्षेत्रफळ उ.द.(चौ.फुट) </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.shetrafal_north_south}} </td>
                    </ng-container>

                    <ng-container matColumnDef="total_shetrafal_cho_foot">
                        <th mat-header-cell *matHeaderCellDef><b> एकूण क्षेत्रफळ (चौ.फुट) </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.total_shetrafal_cho_foot}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="total_shetrafal_cho_meter">
                        <th mat-header-cell *matHeaderCellDef><b> एकूण क्षेत्रफळ (चौ.मिटर) </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.total_shetrafal_cho_meter}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="jaminiche_varshik_mulya">
                        <th mat-header-cell *matHeaderCellDef><b> जमिनीचे वार्षिक मुल्य </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.jaminiche_varshik_mulya}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="aakarani_dar">
                        <th mat-header-cell *matHeaderCellDef><b> आकारणी दर </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.aakarani_dar}} </td>
                    </ng-container>

                    <ng-container matColumnDef="jaminiche_bhadvali_mulya">
                        <th mat-header-cell *matHeaderCellDef><b> जमिनीचे भांडवली मुल्य </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.jaminiche_bhadvali_mulya}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="kar_aakarni">
                        <th mat-header-cell *matHeaderCellDef><b> कर आकारणी </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.kar_aakarni}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef><b>test</b></th>
                        <td mat-cell *matCellDef="let element">
                            <div style="display: inline-flex; align-items: center; ">
                                <mat-icon color="warn">delete</mat-icon>
                                <mat-icon color="primary">edit</mat-icon>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row
                        *matHeaderRowDef="['malmatteche_prakar', 'malmatteche_varnan', 'vapar_prakar', 'gavache_nav', 'gavthan_baherche', 'shetrafal_east_west', 'shetrafal_north_south',  'total_shetrafal_cho_foot', 'total_shetrafal_cho_meter', 'jaminiche_varshik_mulya', 'aakarani_dar','jaminiche_bhadvali_mulya','kar_aakarni','action']">
                    </tr>
                    <tr mat-row
                        *matRowDef="let row; columns: ['malmatteche_prakar', 'malmatteche_varnan', 'vapar_prakar', 'gavache_nav', 'gavthan_baherche', 'shetrafal_east_west', 'shetrafal_north_south',  'total_shetrafal_cho_foot', 'total_shetrafal_cho_meter', 'jaminiche_varshik_mulya', 'aakarani_dar','jaminiche_bhadvali_mulya','kar_aakarni','action'];">
                    </tr>
                </table>
            </mat-card>
        </div>
        <hr>
        <div class="form-row">
            <h6 class="mt-3"><strong>बांधकामाची कर आकारणी:</strong></h6>
        </div>
        <hr>
        <div class="row">
            <mat-card class="example-card">
                <table mat-table [dataSource]="[
                                                                            { malmatteche_prakar: 'kundan', malmatteche_varnan: 'kundan', vapar_prakar: 'kundan', bandkamacha_majla: 'kundan',shetrafal_east_west:'1020', shetrafal_north_south:'1202', total_shetrafal_cho_foot:'2000', total_shetrafal_cho_meter:'6500',
                                                                            vayomanay:'3', imartiche_bandkam_varsh:'2024', ghasara_dar:'25%', bharank:'30', imartiche_varshik_mulya:'350',aakarani_dar:'20', imaratiche_bhandavli_mulya:'20',kar_aakarani:'20', action:''}
                                                                          ]">

                    <ng-container matColumnDef="malmatteche_prakar">
                        <th mat-header-cell *matHeaderCellDef><b> मालमत्तेचे प्रकार</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element.malmatteche_prakar}} </td>
                    </ng-container>

                    <ng-container matColumnDef="malmatteche_varnan">
                        <th mat-header-cell *matHeaderCellDef> <b>मालमत्तेचे वर्णन</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element.malmatteche_varnan}} </td>
                    </ng-container>

                    <ng-container matColumnDef="vapar_prakar">
                        <th mat-header-cell *matHeaderCellDef><b>वापर प्रकार </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.vapar_prakar}} </td>
                    </ng-container>

                    <ng-container matColumnDef="bandkamacha_majla">
                        <th mat-header-cell *matHeaderCellDef><b> बांधकामाचा मजला</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element.bandkamacha_majla}} </td>
                    </ng-container>

                    <ng-container matColumnDef="gavthan_baherche">
                        <th mat-header-cell *matHeaderCellDef><b> गावठाण/गावठाण बाहेरचे </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.gavthan_baherche}} </td>
                    </ng-container>

                    <ng-container matColumnDef="shetrafal_east_west">
                        <th mat-header-cell *matHeaderCellDef><b> क्षेत्रफळ पु.प.(चौ.फुट) </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.shetrafal_east_west}} </td>
                    </ng-container>

                    <ng-container matColumnDef="shetrafal_north_south">
                        <th mat-header-cell *matHeaderCellDef><b> क्षेत्रफळ उ.द.(चौ.फुट) </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.shetrafal_north_south}} </td>
                    </ng-container>

                    <ng-container matColumnDef="total_shetrafal_cho_foot">
                        <th mat-header-cell *matHeaderCellDef><b> एकूण क्षेत्रफळ (चौ.फुट) </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.total_shetrafal_cho_foot}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="total_shetrafal_cho_meter">
                        <th mat-header-cell *matHeaderCellDef><b> एकूण क्षेत्रफळ (चौ.मिटर) </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.total_shetrafal_cho_meter}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="vayomanay">
                        <th mat-header-cell *matHeaderCellDef><b> वयोमानय </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.vayomanay}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="imartiche_bandkam_varsh">
                        <th mat-header-cell *matHeaderCellDef><b> इमारतीचे बांधकाम वर्ष </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.imartiche_bandkam_varsh}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="ghasara_dar">
                        <th mat-header-cell *matHeaderCellDef><b> घसारा दर </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.ghasara_dar}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="bharank">
                        <th mat-header-cell *matHeaderCellDef><b> भारांक </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.bharank}} </td>
                    </ng-container>

                    <ng-container matColumnDef="imartiche_varshik_mulya">
                        <th mat-header-cell *matHeaderCellDef><b> इमारतीचे वार्षिक मुल्य </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.imartiche_varshik_mulya}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="aakarani_dar">
                        <th mat-header-cell *matHeaderCellDef><b> आकारणी दर </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.aakarani_dar}} </td>
                    </ng-container>

                    <ng-container matColumnDef="imaratiche_bhandavli_mulya">
                        <th mat-header-cell *matHeaderCellDef><b> इमारतीचे भांडवली मुल्य </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.imaratiche_bhandavli_mulya}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="kar_aakarani">
                        <th mat-header-cell *matHeaderCellDef><b> कर आकारणी </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.kar_aakarani}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef><b>test</b></th>
                        <td mat-cell *matCellDef="let element">
                            <div style="display: inline-flex; align-items: center; ">
                                <mat-icon color="warn">delete</mat-icon>
                                <mat-icon color="primary">edit</mat-icon>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row
                        *matHeaderRowDef="['malmatteche_prakar', 'malmatteche_varnan', 'vapar_prakar', 'bandkamacha_majla', 'shetrafal_east_west', 'shetrafal_north_south', 'total_shetrafal_cho_foot', 'total_shetrafal_cho_meter', 'vayomanay','imartiche_bandkam_varsh','ghasara_dar','bharank','imartiche_varshik_mulya','aakarani_dar','imaratiche_bhandavli_mulya','kar_aakarani','action']">
                    </tr>
                    <tr mat-row
                        *matRowDef="let row; columns: ['malmatteche_prakar', 'malmatteche_varnan', 'vapar_prakar', 'bandkamacha_majla', 'shetrafal_east_west', 'shetrafal_north_south', 'total_shetrafal_cho_foot', 'total_shetrafal_cho_meter', 'vayomanay','imartiche_bandkam_varsh','ghasara_dar','bharank','imartiche_varshik_mulya','aakarani_dar','imaratiche_bhandavli_mulya','kar_aakarani','action'];">
                    </tr>
                </table>
            </mat-card>
        </div>
        <hr>
        <div class="form-row">
            <h6 class="mt-3"><strong>मनोऱ्याचे कर आकारणी:</strong></h6>
        </div>
        <hr>
        <div class="row">
            <mat-card class="example-card">
                <table mat-table [dataSource]="[
                                                { malmatteche_prakar: 'kundan', malmatteche_varnan: 'kundan', vapar_prakar: 'kundan', manorache_bhag: 'kundan',shetrafal_east_west:'1020', shetrafal_north_south:'1202', total_shetrafal_cho_foot:'2000', total_shetrafal_cho_meter:'6500',aakarani_dar:'20',kar_aakarani:'20', action:''}
                                                ]">

                    <ng-container matColumnDef="malmatteche_prakar">
                        <th mat-header-cell *matHeaderCellDef><b> मालमत्तेचे प्रकार</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element.malmatteche_prakar}} </td>
                    </ng-container>

                    <ng-container matColumnDef="malmatteche_varnan">
                        <th mat-header-cell *matHeaderCellDef> <b>मालमत्तेचे वर्णन</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element.malmatteche_varnan}} </td>
                    </ng-container>

                    <ng-container matColumnDef="vapar_prakar">
                        <th mat-header-cell *matHeaderCellDef><b>वापर प्रकार </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.vapar_prakar}} </td>
                    </ng-container>

                    <ng-container matColumnDef="manorache_bhag">
                        <th mat-header-cell *matHeaderCellDef><b> गावाचे नाव</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element.bandkamacha_majla}} </td>
                    </ng-container>

                    <ng-container matColumnDef="shetrafal_east_west">
                        <th mat-header-cell *matHeaderCellDef><b> क्षेत्रफळ पु.प.(चौ.फुट) </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.shetrafal_east_west}} </td>
                    </ng-container>

                    <ng-container matColumnDef="shetrafal_north_south">
                        <th mat-header-cell *matHeaderCellDef><b> क्षेत्रफळ उ.द.(चौ.फुट) </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.shetrafal_north_south}} </td>
                    </ng-container>

                    <ng-container matColumnDef="total_shetrafal_cho_foot">
                        <th mat-header-cell *matHeaderCellDef><b> एकूण क्षेत्रफळ (चौ.फुट) </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.total_shetrafal_cho_foot}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="total_shetrafal_cho_meter">
                        <th mat-header-cell *matHeaderCellDef><b> एकूण क्षेत्रफळ (चौ.मिटर) </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.total_shetrafal_cho_meter}}
                        </td>
                    </ng-container>


                    <ng-container matColumnDef="aakarani_dar">
                        <th mat-header-cell *matHeaderCellDef><b> आकारणी दर </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.aakarani_dar}} </td>
                    </ng-container>

                    <ng-container matColumnDef="kar_aakarani">
                        <th mat-header-cell *matHeaderCellDef><b> कर आकारणी </b></th>
                        <td mat-cell *matCellDef="let element"> {{element.kar_aakarani}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef><b>test</b></th>
                        <td mat-cell *matCellDef="let element">
                            <div style="display: inline-flex; align-items: center; ">
                                <mat-icon color="warn">delete</mat-icon>
                                <mat-icon color="primary">edit</mat-icon>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row
                        *matHeaderRowDef="['malmatteche_prakar', 'malmatteche_varnan', 'vapar_prakar', 'manorache_bhag', 'shetrafal_east_west', 'shetrafal_north_south', 'total_shetrafal_cho_foot', 'total_shetrafal_cho_meter', 'aakarani_dar','kar_aakarani','action']">
                    </tr>
                    <tr mat-row
                        *matRowDef="let row; columns: ['malmatteche_prakar', 'malmatteche_varnan', 'vapar_prakar', 'manorache_bhag', 'shetrafal_east_west', 'shetrafal_north_south', 'total_shetrafal_cho_foot', 'total_shetrafal_cho_meter', 'aakarani_dar','kar_aakarani','action'];">
                    </tr>
                </table>
            </mat-card>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h6 class="mt-3"><strong>इतर कर गणना (Other Tax Calculation):</strong></h6>
                <hr>
                <mat-card class="example-card">
                    <table mat-table [dataSource]="otherTaxTableData">

                        <ng-container matColumnDef="nivada">
                            <th mat-header-cell *matHeaderCellDef> <b>निवडा</b> </th>
                            <td mat-cell *matCellDef="let element">
                                <section class="example-section">
                                    <mat-checkbox class="example-margin" [id]="element.checked_id"
                                        [checked]="element.checked" (click)="checkedOthertaxTableData($event)"
                                        checked></mat-checkbox>
                                </section>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="karanchi_nav">
                            <th mat-header-cell *matHeaderCellDef><b> करांचे नाव</b> </th>
                            <td mat-cell *matCellDef="let element"> {{element.karanchi_nav}} </td>
                        </ng-container>

                        <ng-container matColumnDef="kar_dar">
                            <th mat-header-cell *matHeaderCellDef><b> कर दर </b></th>
                            <td mat-cell *matCellDef="let element">
                                <input matInput type="text" style="width: 40%; height: 40px;" [id]="element.key"
                                    [value]="element.value" (keyup)="insertKarDar($event)" />
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="[ 'nivada','karanchi_nav',  'kar_dar']"></tr>
                        <tr mat-row *matRowDef="let row; columns: [  'nivada','karanchi_nav',  'kar_dar'];">
                        </tr>
                    </table>
                </mat-card>
                <h5 class="text-center mt-2">एकूण कर: <span class=" ms-5">{{ ekun_kar }}</span></h5>
            </div>
            <div class="col-md-6">
                <h6 class="mt-3"><strong>मालमत्ता कर गणना (Property Tax Calculation):</strong></h6>
                <hr>
                <div class="row">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label class="text-bold">उर्वरित खाली जागा (चौरस फूट)</mat-label>
                        <input matInput type="text" formControlName="urvarit_khali_jaga_feet" (keyup)="updateUrvaritKhaliJagaMeter($event)"/>
                    </mat-form-field>
                </div>
                <div class="form-row mt-2">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label class="text-bold">जमिनीचे भांडवली मुल्य</mat-label>
                        <input matInput type="text" formControlName="jaminiche_bhandavali_mulya" />
                    </mat-form-field>
                    <span class="star_equal">+</span>
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label class="text-bold">इमारतीचे भांडवली मुल्य</mat-label>
                        <input matInput type="text" formControlName="emaratiche_bhandavali_mulya" />
                    </mat-form-field>
                    <span class="star_equal">=</span>
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label class="text-bold">एकूण भांडवली मुल्य</mat-label>
                        <input matInput type="text" formControlName="ekun_bhandavli_mulya" />
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label class="text-bold">खुला भूखंड कर आकारणी</mat-label>
                        <input matInput type="text" formControlName="khula_bhukand_kar_aakarani_txt" />
                    </mat-form-field>
                    <span class="star_equal">+</span>
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label class="text-bold">इमारतीची कर आकारणी</mat-label>
                        <input matInput type="text" formControlName="emartiche_kar_akarani_txt" />
                    </mat-form-field>
                    <span class="star_equal">=</span>
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label class="text-bold">गृहकर व भूमीकर</mat-label>
                        <input matInput type="text" formControlName="gruhkar_bhumikar_from_property_tax" />
                    </mat-form-field>
                </div>
            </div>
        </div>
        <hr>
        <div class="form-row">
            <h6 class="mt-3"><strong>कर देय (Tax Payble):</strong></h6>
        </div>
        <hr>
        <div class="form-row mt-2">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">गृहकर व भूमीकर</mat-label>
                <input matInput type="text" formControlName="gruhkar_bhumikar_from_tax_payble" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">चालू कर</mat-label>
                <input matInput type="text" formControlName="chalu_kar" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">मागील बाकी</mat-label>
                <input matInput type="text" formControlName="magil_kar" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">एकूण कर भरणा</mat-label>
                <input matInput type="text" formControlName="ekun_kar_bharna" />
            </mat-form-field>
        </div>
        <div class="form-row">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label class="text-bold">मागाहून घट किंवा बदल झाल्याच्या बाबतीत आदेशाचा उल्लेख धरून
                    शेरे:</mat-label>
                <input matInput type="text" formControlName="magahun_ghat_kiva_badal" />
            </mat-form-field>
        </div>
        <div class="submit-row">
            <a mat-raised-button color="primary" class="submit-btn" (click)="save_nodani_form()">जतन करा</a>
        </div>
    </mat-card>
</form>