.form-panel {
  padding: 20px;
  margin: 10px;
  background-color: #fff;
}

.title {
  font-size: 20px;
  color: white;
  background-color: #214162;
  padding: 10px;
  text-align: center;
}

.form-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  max-height: 100vh;
   overflow-y: hidden;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-field {
  flex: 1 1 calc(15.99% - 10px); /* 5 columns */
  min-width: 100px;
}


.submit-row { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 10px 0;  
    flex-shrink: 0; 
}
.submit-btn { 
    margin-right: 10px;  
    width: 150px;
}

@media (max-width: 768px) {
  .form-field {
    flex: 1 1 100%; 
  }
}


.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 20px;
}
.star_equal{
    margin-top: 15px;
}

.expansion-header{
  background-color: #214162 !important;
  color: #fff;
}
.expansion-text{
  color: #fff;
}

.custom-red {
  background-color: #f14a4a !important; /* Custom Blue */
  color: white !important;
}

::ng-deep .mat-header-row {
  background-color: #e3f2fd; /* Light blue */
}

::ng-deep .mat-header-cell {
  color: #0d47a1; /* Dark blue */
  font-weight: 600;
}

.custom-header {
  background-color: #214162; /* Light red background */
  color:#fff;
}

::ng-deep .custom-header .mat-header-cell {
  color: #b71c1c;       /* Deep red text */
  font-weight: bold;
}


input.no-spinner::-webkit-outer-spin-button,
  input.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input.no-spinner {
    -moz-appearance: textfield; /* Firefox */
  }