<div class="login-container">
    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title><span style="text-align: center;">Login-2025</span></mat-card-title>
        </mat-card-header>
        <mat-card-content>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="district-selects">
                    <mat-form-field appearance="outline">
                        <mat-label>जिल्हा</mat-label>
                        <mat-select formControlName="district_id" (selectionChange)="fetchTalukas($event.value)">
                            <mat-option *ngFor="let ele of districtList"
                                value="{{ele.DISTRICT_ID}}">{{ele.DISTRICT_NAME}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="loginForm.get('district_id')?.hasError('required')">
                            District is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>तालुका</mat-label>
                        <mat-select formControlName="taluka_id" (selectionChange)="fetchPanchaytList($event.value)">
                            <mat-option *ngFor="let ele of talukaList" value="{{ele.TALUKA_ID}}">{{ele.TALUKA_NAME}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="loginForm.get('taluka_id')?.hasError('required')">
                            District is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>पंचायत</mat-label>
                        <mat-select formControlName="panchayat_id">
                            <mat-option *ngFor="let ele of panchayatList"
                                value="{{ele.PANCHAYAT_ID}}">{{ele.PANCHAYAT_NAME}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="loginForm.get('panchayat_id')?.hasError('required')">
                            District is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" formControlName="username" placeholder="Enter your username">
                    <mat-icon matSuffix>Username</mat-icon>
                    <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
                        Username is required
                    </mat-error>
                    <!-- <mat-error
                        *ngIf="loginForm.get('username')?.hasError('username')">
                        Please enter a valid email
                    </mat-error> -->
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
                        <mat-icon>{{hidePassword ? 'visibility_off' :
                            'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                        Password is required
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
                    Login
                </button>
                <!-- Forgot Password Link -->
                <div class="forgot-password">
                    <a href class="forgot-link">Forgot Password?</a>
                </div>
            </form>

        </mat-card-content>
    </mat-card>
</div>