<mat-card class="form-panel">
    <mat-card-title class="title">Aadhar Card</mat-card-title>
    <mat-divider></mat-divider>

    <form class="form-grid">
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label class="text-bold">वार्ड नं. (Ward No)</mat-label>
                    <mat-select name="ward_number" (selectionChange)="onSelect($event)">
                        <mat-option *ngFor="let item of wardOptions" [value]="item.label">
                            {{ item.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- <div class="col-md-3">
                <button mat-raised-button color="primary" class="submit-btn">वार्ड नंबर लिस्ट</button>
            </div> -->
        </div>
    </form>
</mat-card>