<div class="profile-container mb-1">
    <mat-grid-list cols="5" rowHeight="2:1" style="padding: 0px;">
        <mat-grid-tile>

            <a href="javascript:void(0)" class="dashboard-links">
                <mat-card class="dashboard-cards">
                    <mat-card-content>
                        <h2>{{userData?.current_account ?? 0 }}</h2>
                        <h4 class="label-name">चालू खातेदार</h4>
                    </mat-card-content>
                </mat-card>
            </a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a href="javascript:void(0)" class="dashboard-links">
                <mat-card class="dashboard-cards">
                    <mat-card-content>
                        <h2>{{userData?.ADHIKRUT ?? 0}}</h2>
                        <h4 class="label-name">अधिकृत</h4>
                    </mat-card-content>
                </mat-card>
            </a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a href="javascript:void(0)" class="dashboard-links">
                <mat-card class="dashboard-cards">
                    <mat-card-content>
                        <h2>{{userData?.GHARKUL ?? 0}}</h2>
                        <h4 class="label-name">इंदिरा आवास</h4>
                    </mat-card-content>
                </mat-card>
            </a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a href="javascript:void(0)" class="dashboard-links">
                <mat-card class="dashboard-cards">
                    <mat-card-content>
                        <h2>{{userData?.IMLAKAR ?? 0}}</h2>
                        <h4 class="label-name">इमलाकर</h4>
                    </mat-card-content>
                </mat-card>
            </a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a href="javascript:void(0)" class="dashboard-links">
                <mat-card class="dashboard-cards">
                    <mat-card-content>
                        <h2>{{userData?.HOME_KAR ?? 0}}</h2>
                        <h4 class="label-name">घर कर </h4>
                        <!-- लावायचा आहे -->
                    </mat-card-content>
                </mat-card>
            </a>
        </mat-grid-tile>
    </mat-grid-list>

    <!-- Profile Section -->
    <div class="profile-header " style="margin-bottom: 10px; margin-top: 20px;">
        <div class="profile-image">
            <img src="https://i.pinimg.com/474x/0a/a8/58/0aa8581c2cb0aa948d63ce3ddad90c81.jpg" alt="Profile Picture" />
            <button mat-stroked-button class="change-photo-btn">Change
                Photo</button>
        </div>
        <div class="profile-info">
            <h2>{{users.NAME }} {{users.SURNAME}}</h2>
            <h4>8421404047</h4>
            <h4>kundan&#64;gmail.com</h4>
            <p>District: {{users.DISTRICT_NAME}}</p>
            <button mat-stroked-button color="primary">Edit Profile</button>
        </div>
    </div>

    <section *ngIf="isLoad">
        <!-- Table Section -->
        <!-- <app-mat-data-table
            [displayedColumns]="displayedColumns"
            [dataSource]="pagedDataSource"
            [totalItems]="dataSource.data.length"
            [itemsPerPage]="itemsPerPage">
        </app-mat-data-table>  -->

        <!-- <app-custom-pagination [length]="dataSource.data.length"
            [pageSize]="itemsPerPage"
            [currentPage]="currentPage"
            (pageChange)="onPageChange($event)">
        </app-custom-pagination> -->

    </section>
    <!-- Details Section -->
        <mat-tab-group style="margin-bottom: 10px;">
            <mat-tab label="महाराष्ट्र ग्रामपंचायत">
                <div class="additional-info">
                    <div class="wrapper">
                        <div class="box box2">
                            <div class="logo-container">
                                <mat-icon
                                    style="  margin-top: -5px; height:80px; width:70px; font-size: 70px ;">location_city</mat-icon>

                            </div>
                            <div class="content">
                                <h4>जिल्हा</h4>
                                <h2>{{users.DISTRICT_NAME}}</h2>
                            </div>
                        </div>
                        <div class="box box2">
                            <div class="logo-container">
                                <img
                                    src="../assets/pngegg.png"
                                    alt="Logo" class="logo">
                            </div>
                            <div class="content">
                                <h4>तालुका</h4>
                                <h2>{{users.TALUKA_NAME}}</h2>
                            </div>
                        </div>
                        <div class="box box2">
                            <div class="logo-container">
                                <img
                                    src="../assets/panchayat.png"
                                    alt="Logo" class="logo">
                            </div>
                            <div class="content">
                                <h4>पंचायत</h4>
                                <h2>{{users.PANCHAYAT_NAME}}</h2>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="work-links">
                    <mat-card>
                        <div class="logo-container">
                            <img
                                src="https://img.freepik.com/free-vector/bird-colorful-logo-gradient-vector_343694-1365.jpg?ga=GA1.1.825177564.1733671653&semt=ais_hybrid"
                                alt="Logo" class="logo">
                        </div>
                        <mat-card-content>
                            <h4 class="name1">जिल्हा</h4>
                            <h2 class="name">नागपूर</h2>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="work-links ">
                    <mat-card>
                        <div class="logo-container">
                            <img
                                src="https://img.freepik.com/free-vector/bird-colorful-logo-gradient-vector_343694-1365.jpg?ga=GA1.1.825177564.1733671653&semt=ais_hybrid"
                                alt="Logo" class="logo">
                        </div>
                        <mat-card-content>
                            <h4 class="name1">तालुका</h4>
                            <h2 class="name">नागपूर ग्रामीण</h2>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="work-links">
                    <mat-card>
                        <div class="logo-container">
                            <img
                                src="https://img.freepik.com/free-vector/bird-colorful-logo-gradient-vector_343694-1365.jpg?ga=GA1.1.825177564.1733671653&semt=ais_hybrid"
                                alt="Logo" class="logo">
                        </div>
                        <mat-card-content>
                            <h4 class="name1">पंचायत</h4>
                            <h2 class="name">न्यू डेमो</h2>
                        </mat-card-content>
                    </mat-card>
                </div> -->
                    <!-- <div class="skills ">
                    <ul class="example-button-row">
                        <li><a mat-flat-button class="button-color-dashboard" href="https://www.google.com/"
                                target="_blank">चालू खातेदार : 18</a></li>

                        <li><a mat-flat-button class="button-color-dashboard" href="https://www.google.com/"
                                target="_blank">अधिकृत :17</a></li>
                        <li><a mat-flat-button class="button-color-dashboard" href="https://www.google.com/"
                                target="_blank">इंदिरा आवास : 0</a></li>
                        <li><a mat-flat-button class="button-color-dashboard" href="https://www.google.com/"
                                target="_blank">इमलाकर : 0</a></li>
                        <li><a mat-flat-button class="button-color-dashboard" href="https://www.google.com/"
                                target="_blank">घर कर लावायचा आहे :0</a></li>

                    </ul>
                </div> -->
                </div>
            </mat-tab>
            <mat-tab label="नकाशा (Map)">
                <div class="timeline-section">
                    <p>Map content goes here...</p>
                </div>
            </mat-tab>
        </mat-tab-group>

    </div>